.wizard-container {
  background-color: #F3F3F3;
  width: 1000px;
  margin: 50px auto;
  padding-bottom: 5px;
  text-align: center;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px; }

.wizard-header {
    box-shadow: inset 0px -1px 0px 0px #DFDFDF;
}

.wizard-header .title {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 33px;
  font-weight: 300;
  letter-spacing: 1.1;
  color: black;
  text-transform: uppercase;
  padding-top: 17px; }

.wizard-header button.close {
    float: left;
    padding: 0;
    margin: 25px 0 0 25px; 
    cursor: pointer;
    border: 0;
    font-size: 16px;
    font-family: 'Gotham';
    font-weight: normal;
    line-height: normal;
    box-shadow: none;
}
.wizard-header button.close:hover {
    font-weight: bold;
    background-color: transparent;
}
.wizard-header button.close i.fa {
    font-size: inherit;
    color: inherit;
}

.wizard-navigation {
    background: white;
    display: block;
    min-height: 120px;
    overflow: hidden;
    position: relative;

    float: right;
    width: 66%;
    height: 97px;
    min-height: 97px;
    max-height: 97px;
}

.wizard-navigation div {
    float:left;
    min-width: 120px;
    width: 120px;
    height: 60px;
    color: black;
}

/*
    Common
*/
.wizard
{
    display: block;
    /*width: 100%;*/
    overflow: hidden;
}

.wizard a
{
    outline: 0;
}


/* Accessibility */
.wizard .steps .current-info
{
    position: absolute;
    left: -999em;
}

.wizard .content > .title
{
    position: absolute;
    left: -999em;
}


/*
    Wizard
*/
.wizard .steps
{
    position: relative;
    display: block;
    width: 100%;
    text-align: left;
}

.wizard.vertical .steps
{
    float: left;
    width: 34%;
}

/*.wizard .steps > ul > li
{
    width: 25%;
}

.wizard .steps > ul > li,
.wizard .actions > ul > li
{
    float: left;
}

.wizard.vertical .steps > ul > li
{
    float: none;
    width: 100%;
    height: 97px;
    outline: solid 1px green;
}*/

.wizard .steps a,
.wizard .steps a:active
{
    font-size: 21px;
    font-family: 'Gotham';
    font-weight: 300;
    color: black;

    display: block;
    width: auto;
    height: 97px;
    padding: 36px 0px 0px 28px;
    text-decoration: none;

    -moz-box-shadow: inset -1px -1px 0px #DFDFDF;
    -webkit-box-shadow: inset -1px -1px 0px #DFDFDF;
    box-shadow: inset -1px -1px 0px #DFDFDF;
}

.wizard .steps a:hover
{
    color: red;
}

.wizard .steps a.disabled,
.wizard .steps a.disabled:hover,
.wizard .steps a.disabled:active
{
    background-color: #eee;
    color: #aaa;
    cursor: default;
}

.wizard .steps a.current,
.wizard .steps a.current:hover,
.wizard .steps a.current:active
{
    background-color: #E82B87;;
    color: #fff;
    cursor: default;

    -moz-box-shadow: inset 0px 0px 0px #DFDFDF;
    -webkit-box-shadow: inset 0px 0px 0px #DFDFDF;
    box-shadow: inset 0px 0px 0px #DFDFDF;
}

.wizard .steps .done a,
.wizard .steps .done a:hover,
.wizard .steps .done a:active
{
    background-color: #F3F3F3;
    color: #fff;
}

.wizard .steps .error a,
.wizard .steps .error a:hover,
.wizard .steps .error a:active
{
    background-color: yellow;
    color: #fff;
    outline: solid 3px red;
}

.wizard .steps a > .indicator {
    float: right;
    width: 36px;
    height: 36px;
    background-color: #8DD23F;
    box-shadow: 1px 2px 0 0 #68AB1E;
    border-radius: 18px;
    text-align: center;
    margin: -5px 25px 0 0;
    /*padding: 3px 0 0 3px;*/
}
.wizard .steps a > .indicator > i.fa {
    color:white;
    font-size: 21px;
    margin: 8px 0 0 3px;
}
.wizard .steps a.error > .indicator {
    background-color: yellow;
    box-shadow: 1px 2px 0 0 darkred;
}
.wizard .steps a.error > .indicator > i.fa {
    color:red;
}


.wizard .content
{
    background: white;
    display: block;
    min-height: 120px;
    overflow: hidden;
    position: relative;
    width: auto;
}

.wizard-big.wizard .content {
    min-height: 320px;
}
.wizard.vertical .content
{
    float: right;
    width: 66%;
    height: 485px;
    min-height: 485px;
}

.wizard .content label
{
    display: inline-block;
    margin-bottom: 0.5em;
}

.wizard .actions
{
    position: relative;
    display: block;
    text-align: right;
    width: 100%;
    box-shadow: inset 0px 1px 0px 0px #DFDFDF;
}

.wizard .actions ul {
    float: right;
    list-style: none !important;
    margin: 10px;
}

.wizard .actions ul > li {
    float: left;
    width: 179px;
    height: 40px;
    margin-left: 10px;
    border-radius: 5px;
    text-align: center;
}

.wizard .actions ul > li.left {
    background-color: #DCDCDC;
    box-shadow: 0 2px 0 0 #B1B1B1;
}
.wizard .actions ul > li.right {
    background-color: #E82B87;
    box-shadow: 0 2px 0 0 #C01669;
}
.wizard .actions ul > li.left a {
    color: black;
}
.wizard .actions ul > li.right a {
    color: #fff;
}

.wizard .actions ul > li.disabled {
    display: none;
}

.wizard.vertical .actions
{
    float: right;
    margin: 0 2.5%;
    width: 95%;
}

.wizard .actions a,
.wizard .actions a:hover,
.wizard .actions a:active
{
    /*background: #E82B87;*/
    display: block;
    padding: 0.5em 1em;
    font-size: 18px;
    text-decoration: none;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
/*
.wizard .actions .disabled a,
.wizard .actions .disabled a:hover,
.wizard .actions .disabled a:active
{
    background: #eee;
    color: #aaa;
}
*/



/* css for step sub-views */
.step-content {
    text-align: left;
    padding: 10px 30px;
}
.step-content h1 {
    font-family:'Gotham';
    font-size: 28px;
    font-weight: bold;
    color: #000000;
}
.content.error .step-content h1 {
    color: red;
    background-color: yellow;
}
.step-content .sub-title {
    font-family:'Gotham';
    font-size: 14px;
    font-weight: 300;
    color: #000000;
    margin-bottom: 20px
}
.scroll-container {
    overflow-x: hidden;
    overflow-y: visible;
    height: 360px;
    padding-top: 10px;
    box-shadow: inset 0px 1px 0px 0px #DFDFDF;
}
.scroll-container > .scroll-pane div > label {
    cursor: pointer;
    font-family: Gotham;
    font-size: 16px;
    font-weight: normal;
    margin: 0;
}
.scroll-container > .scroll-pane div.select-all {
    margin-bottom:20px;
}
.scroll-container > .scroll-pane div.select-all > label {
    font-weight: 700;
}
/*label > input {
    display: none;
}*/

/* checkbox */


.wizard .step-content input[type="checkbox"],
.wizard .step-content input[type="radio"]
{
    display: none;
}

div.checkboxContainer,
label.radio,
.scroll-container > .scroll-pane div > label.radio {
    margin-bottom: 8px;
}
.checkbox i {
    color: transparent;
    font-size: 12pt;
    width: 22px;
    height: 22px;
    border: 2px solid #F48205;
    border-radius: 5px;
    margin-right: 8px;
    padding: 1px 0 0 1px;
}

.checkbox i.undetermined {
    display: inline-block;
    color: black;
    font-size: 12pt;
    width: 22px;
    height: 22px;
    border: 2px solid #F48205;
    border-radius: 5px;
    margin-right: 8px;
}
label.checkbox > input:checked + i {
    color: black;
}

/* radios */
.radio i {
    color: transparent;
    font-size: 14px;
    border: solid 2px #F48205;
    padding: 2px 3px;
    width: 22px;
    height: 22px;
    border-radius: 11px;
    margin-right: 8px;
}
label.radio {
    margin-top: 0;
}
label.radio > input:checked + i {
    color: black;
}

.uib-datepicker-popup button {
    box-shadow: none;
}
.uib-daypicker .btn {
    border: 0;
}
.input-group-btn button {
    background-color: #eee;
    border: 1px solid #ccc;
    box-shadow: none;
}


tags-input {
    border: 0;
}
tags-input .tags {
    box-shadow: none;
    width: 372px;
    border: 2px solid #9B9B9B;
    border-radius: 5px;
    margin-left: 12px;
}

.p-l-30 {
    padding-left: 30px;
}

/* wizard summary */
.scroll-container > .scroll-pane.wizard-summary label {
    font-weight: bold;
}
.scroll-container > .scroll-pane.wizard-summary .btn.pc {
    border: solid 1px #ccc;
    padding: 3px 9px;
    margin: 0px 4px 4px 0px;
}

.text-muted {
    color: #999;
}
