$brand: #e49;
$brandOver: #1F429B;

$category: #FCEDF8; /* background color for category cell (Store/PC) */

$completedGroup: #AEE874;
$inprogressGroup: #E8DC74;
$zeroGroup: #E8E8E8;
$naGroup: #E8E8E8;

$inprogressGroupSummary: #CFBA00;
$completedGroupSummary: #60BF00;
$zeroGroupSummary: #BFBFBF;
$naGroupSummary: #BFBFBF;

$completedChildSummary: #AEE874;
$inprogressChildSummary: #E8DC74;
$zeroChildSummary: #E8E8E8;
$naChildSummary: #E8E8E8;

$completed: #D5FFAB;
$inprogress: #FFF7AB;
$zero: #FFF;
$na: #FFF;

$black: #000;
$orange: #e874c9; /* background color for summary header cell */
$brown: #0039A6; /* background color for segments header cell (colGroup) */
$lightbrown: #BE854C;

$blue: #3bbfce;
$margin: 16px;

/* cs page */
$csPageBackgroundImg: '../../img/spoonssmpink-bg.png';
