body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	/* for development */
    /*background: url(../img/coffee-bg.jpg) no-repeat center fixed;
    background-size: cover;*/
    /* for production */
    background-color: transparent;
}

.clear {
	clear: both!important;
}

.full-width {
    width: 100%!important;
}

.pointer {
	cursor: pointer!important;
}

.m-l-sm {
	margin-left: 5px;
}
.m-r-sm {
	margin-left: 5px;
}

.m-t-sm {
	margin-top: 5px;
}
.m-t-md {
	margin-top: 12px;
}
.m-t-lg {
	margin-top: 20px;
}
.m-t-xlg {
	margin-top: 25px;
}
.m-t-40 {
	margin-top: 40px;
}

.m-b-0 {
	margin-bottom: 0;
}

.p-l-0 {
    padding-left: 0;
}
.p-r-0 {
    padding-right: 0;
}

.p-l-30 {
    padding-left: 30px;
}

a {
	cursor:pointer;
}

i.fa {
	font-size:14pt;
	color: $orange;	
}

.table > thead:first-child > tr:first-child > th {
    border-top: solid 1px rgba(0, 0, 0, 0.5);
}
.table > thead th {
    text-align: center;
}

/*
.table > thead th.width-5 { width: 5%; }
.table > thead th.width-6 { width: 6%; }
.table > thead th.width-7 { width: 7%; }
.table > thead th.width-8 { width: 8%; }
.table > thead th.width-9 { width: 9%; }
.table > thead th.width-10 { width: 10%; }
.table > thead th.width-11 { width: 10%; }
.table > thead th.width-12 { width: 12%; }
.table > thead th.width-13 { width: 13%; }
.table > thead th.width-14 { width: 14%; }
.table > thead th.width-15 { width: 16%; }
.table > thead th.width-16 { width: 16%; }
.table > thead th.width-17 { width: 17%; }
.table > thead th.width-18 { width: 18%; }
.table > thead th.width-19 { width: 19%; }
.table > thead th.width-20 { width: 20%; }
.table > thead th.width-21 { width: 21%; }
.table > thead th.width-22 { width: 22%; }
.table > thead th.width-23 { width: 23%; }
.table > thead th.width-24 { width: 24%; }
.table > thead th.width-25 { width: 25%; }
.table > thead th.width-26 { width: 26%; }
.table > thead th.width-27 { width: 27%; }
.table > thead th.width-28 { width: 28%; }
.table > thead th.width-29 { width: 29%; }
.table > thead th.width-30 { width: 30%; }
.table > thead th.width-31 { width: 31%; }
.table > thead th.width-32 { width: 32%; }
.table > thead th.width-33 { width: 33%; }
.table > thead th.width-34 { width: 34%; }
.table > thead th.width-35 { width: 35%; }
.table > thead th.width-36 { width: 36%; }
.table > thead th.width-37 { width: 37%; }
.table > thead th.width-38 { width: 38%; }
.table > thead th.width-42 { width: 42%; }
.table > thead th.width-45 { width: 45%; }
.table > thead th.width-85 { width: 85%; }
.table > thead th.width-90 { width: 90%; }
*/


.th-top {
    text-align:right;
    min-height: 22px;
}
.th-middle{
    display: inline-block;
    margin-bottom: 10px;
}
.th-middle-inner{
    display: table-cell;
    vertical-align: middle;
    height: 85px;
}
.th-text {
    clear: both !important;
    word-break: normal;
}
.th-text.smaller-text {
    font-size: 0.8em;
}

.row-th-top {
    text-align:right;
    min-height: 22px;
}
.row-th-middle{
    display: inline-block;
    margin-bottom: 10px;
}
.row-th-middle-inner{
    display: table-cell;
    vertical-align: middle;
    height: 25px;
}
.row-th-text {
    clear: both !important;
    word-break: normal;
    padding-left: 8px;
}

.table {
	border-spacing: 0;
	border-collapse: separate;
}
.table > thead > tr > th,
.table > tbody > tr > td {
	border: 1px solid rgba(0, 0, 0, 0.25);
	padding: 5px;
	vertical-align: middle!important;;
}
.table > thead > tr > th.valign-top,
.table > tbody > tr > td.valign-top {
	vertical-align: top!important;
}
.table > thead > tr > th.first {
	border-top-width: 0!important;
	border-left-width: 0!important;
	word-break: break-word;
	text-align: center;
	vertical-align: middle;
}
.table > thead > tr > th {
	text-align: center;
	vertical-align: top;
	font-size: 16px;
}
.table > tbody > tr > td.first {
	word-break: break-word; /* break-word causes the two table not being in sync with td widths */
	vertical-align: middle;
    padding-left: 12px;
}
.table > tbody > tr {
	min-height: 50px;
	height: 50px;
}

.tr-head {
	min-height:100px;
	height:100px;
}
.th-category {
	color: white;
	background-color: transparent;
	/*width: 200px;
	min-width: 200px;
	max-width: 200px;*/
}
.th-summary {
	color: white;
	background-color: $orange;
	vertical-align: middle!important;

	font-size: 12px;
	font-weight: bold;
	text-align: center;
	line-height: 15px;
	/*width: 150px;
	min-width: 150px;
	max-width: 150px;*/
}
.th-course {
	color: white;
	background-color: $brown;
    /*width: 80px;
    min-width: 80px;
    max-width: 80px;*/
}
.th-section {
	color: white;
	background-color: $lightbrown;
    /*width: 150px;
    min-width: 150px;
    max-width: 150px;*/
}

td.category {
	background-color: $category;
	font-size: 16px;
	font-weight: bold;
	line-height: 16px;
	color: $black;
	vertical-align:middle;
    height:50px;
}

td.category .fa,
td.first .fa,
td.person .fa {
	color: $brown;
}

/* group columns */
td.col-group.completed {
	background-color: $completedGroup;
}
td.col-group.in-progress {
	background-color: $inprogressGroup;
}
td.col-group.na {
	background-color: $naGroup;
}
td.col-group.zero {
	background-color: $zeroGroup;
}

td.col-group.summary.completed {
	background-color: $completedGroupSummary;
}
td.col-group.summary.in-progress {
	background-color: $inprogressGroupSummary;
}
td.col-group.summary.na {
	background-color: $naGroupSummary;
}
td.col-group.summary.zero {
	background-color: $zeroGroupSummary;
}

/* child columns */
td.col-group.person {
    background-color: white;
}
td.col-group.person.completed.with-color {
	background-color: $completed;
}
td.col-group.person.in-progress.with-color {
	background-color: $inprogress;
}
td.col-group.person.na.with-color {
	background-color: $na;
}
td.col-group.person.zero.with-color {
	background-color: $zero;
}

td.col-child.completed {
	background-color: $completed;
}
td.col-child.in-progress {
	background-color: $inprogress;
}
td.col-child.na {
	background-color: $na;
}
td.col-child.zero {
	background-color: $zero;
}

td.col-child.summary.completed {
	background-color: $completedChildSummary;
}
td.col-child.summary.in-progress {
	background-color: $inprogressChildSummary;
}
td.col-child.summary.na {
	background-color: $naChildSummary;
}
td.col-child.summary.zero {
	background-color: $zeroChildSummary;
}


td.flash.ng-animate {
  color: white;
  background-color: $brand;
}
td.flash {
  -webkit-transition: background-color 0.5s ease-in, color 0.5s ease-in;
  -moz-transition: background-color 0.5s ease-in, color 0.5s ease-in;
  -o-transition: background-color 0.5s ease-in, color 0.5s ease-in;
  transition: background-color 0.5s ease-in, color 0.5s ease-in;
}

.calculating {
  display: block;
  float: left;
  margin-top: 5px;
  color: $brand;
}

td.hidden {
	display:none;
}

/*td > div {
	outline: solid 0px red;
}*/

.row-text {
	width: 135px;
	height:100%;
}

.col-group > .row-text {
	width: 100%;
	height:100%;
	/*outline: solid 0px red;*/
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	line-height: 48px;
}

td.col-group.person > .row-text {
	margin: 0;
	font-weight: normal;
}

.col-group.summary .row-text {
	color:white;
}

.col-child.summary .row-text {
	width: 100%;
	height: 100%;
	/*outline: solid 0px red;*/
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	line-height: 48px;
}

.col-child > .row-text {
	width: 100%;
	height: 100%;
	/*outline: solid 0px green;*/
	font-size: 18px;
	text-align: center;
	line-height: 48px;
	white-space: nowrap;
}

td.person > .row-text {
	margin-left: 24px;
}
td.person > .row-text > span.value {
	color: $black;
}
td.person > .row-text > span.person {
	font-size: 16px;
	color: $black;
}
td.person > .row-text > span.person-title {
	display: block;
	/*color: #4A4A4A; */
	color: lighten($black, 40%);
}

.row-icon {
	width: 20px;
	margin: 0 2px 0 2px;
	height: 100%;
	text-align: center;
}

.row-icon > i,
.row-icon > a {
	margin-top: 13px;
	display: block;
}

button {
    -webkit-appearance: none;
    padding: 0 25px 4px;
    display: inline-block;
    color: black;
    font: normal 16px/2.125 'Gotham', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    border: none;
    border-radius: 8px;
    box-shadow: inset 0 -6px 0 rgba(0,0,0,0.5);
    text-decoration: none;
    transition: background-color 0.25s;
}
button:hover {
	background-color: $brandOver;
}
button.small {
    padding: 0 15px 4px;
    font: 300 12px/2 'Gotham', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
button.small i.fa {
	color: inherit;
	margin-right: 5px;
    font-size: 14px;
}
button.brand {
    color: #fff;
    background-color: $brand;
}
button.undo {
    color: $black;
    background-color: $zeroGroupSummary;
}
button.undo:hover {
    color: $brown;
	background-color: $zeroChildSummary;
}
button.reset {
    color: #fff;
    background-color: $brown;
}
button.reset:hover {
	background-color: $lightbrown;
}
button.back-to-top {
    color: #fff;
    background-color: $brown;
}
button.back-to-top:hover {
	background-color: $lightbrown;
}

div.height-40 {
	height:40px;
	min-height:40px;
}
.now-viewing {
	/*outline: solid 1px red;*/
    font: 300 14px/16px 'Gotham', Helvetica, Arial, sans-serif;
	color: #444444;
}

.container, 
.banner {
    width: 95%;
	max-width: 95%;
}

.container {
	border-radius: 8px;
}

.container.report {
	background-color: #FFFFFF;
	box-shadow: inset 0 40px 0 0 rgba(232,116,201,0.13);
}

.container.loading-msg {
    background-color: #F7EDDF;
    border: 1px solid darken(#F7EDDF, 20%);
    padding: 0 15px 15px;
    text-align: center;
}
.container.loading-msg h1 {
    margin: 0;
    padding: 0.67em 0;
    font: 42px 'Thirsty Script', Helvetica, Arial, sans-serif;
    color: #402500;
}

/* banner */
.banner {
    box-sizing: border-box;
    box-sizing: border-box;
    margin: 20px auto;
    height: 60px;
    padding: 6px;
    border-radius: 8px;
    color: #fff;

    background-color: #e874c9;
    background-image: -webkit-linear-gradient(#e874c9,#E45BBF);
    background-image: linear-gradient(#e874c9,#E45BBF);
}
.banner h2 {
    font-size: 24px;
    font-weight: bold;
    float: left;
    margin-top: 10px;
    text-shadow: 1px 1px 0px black;
}
.banner img {
    margin-right: 6px;
    float: left;
    max-height: 100%;
}
.banner-button {
    box-sizing: border-box;
    float: right;
    font-weight: normal;
    width: 204px;
    height: 50px;
    border-radius: 4px;
    padding: 4px;
    margin-left: 10px;
    background-color: #7cc13a;
    /*background-image: -webkit-linear-gradient(#7cc13a,#65b617);
    background-image: linear-gradient(#7cc13a,#65b617);*/
    font-size: 14px;
    box-shadow: inset 0 -5px 0 rgba(0,0,0,0.25);
    display: block;
    color: #fff;
    font-family: "Verdana",Helvetica,Arial,sans-serif;
    text-shadow: 0 1px 1px rgba(0,0,0,0.5);
	text-decoration: none;
}
.banner-button:hover {
    color: $category;
    text-decoration: none;
}
.banner-button .text {
    line-height: 1.3em;
}
.banner-button img {
    margin: 0 5px;
}
.banner-button img.dd {
    margin-top: 1px;
}
.banner-button img.br {
    margin-top: 5px;
}
.banner-button img.return {
    margin-top: 9px;
}
.banner-button.return {
    text-align: left;
}
.banner-button.viewFor {
    text-align: left;
    background-color: #1F429B;
}
.banner-button.return .text {
    margin-top: 1px;
}
.banner-button.viewFor .text {
    margin-top: 3px;
}


/* report home */
.report-menu-container {
    width: 1000px;
    background-color: rgba(240,224,198,0.8);
    margin: 50px auto;
	text-align: center;
    padding-bottom: 5px;
}

.report-menu-container .title {
    font-family: 'Gotham', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 48px;
    font-weight: 900;
    color: #FFFFFF;
    text-shadow: 0px 2px 4px black;
    padding-top: 50px;
}

.report-menu-container .subtitle {
    font-family: 'Gotham', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 0px 2px 4px black;
    color: #FFFFFF;
}

.report-menu {
    display: table;
    margin: 50px auto;
    padding: 5px;
}
.report-menu-row {
    display: table-row;
}
.report-menu-cell {
    display: table-cell;
    padding: 10px;
}

.report-menu-item {
    clear: both;
    position: relative;
    width: 454px;
    box-shadow: inset 0 -8px 0 0 black;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
}
.menu-item-inner {
    display: table-cell;
    vertical-align: middle;
    height: 148px;
}
.menu-item-inner.fill {
    min-width: 320px;
}
.report-menu-item .cs-ribbon {
    position: absolute;
    top: 0;
    right: 0;
}
.report-menu-item img {
	max-width: 90px;
	width: 90px;
    margin: 0 5px;
}
.report-menu-item .item-text {
    margin-left: 8px;
}
.report-menu-item .item-title {
    font-family: 'Gotham', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: -1px;
    color: #FFFFFF;
    text-shadow: 0px 1px 1px black;
}
.report-menu-item .item-descr {
    font-family: 'Gotham', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: #FFFFFF;
    text-shadow: 0px 1px 1px black;
    margin-top: 5px;
    line-height: 1.3;
}

.report-menu-item.learning-path {
    background-color: #E874C9;
    box-shadow: inset 0 -8px 0 0 #AD5796;
}
.report-menu-item.learning-path:hover {
    background-color: lighten(#E874C9, 5%);
}
.report-menu-item.new-and-trending {
    background-color: #663600;
    box-shadow: inset 0 -8px 0 0 #532D01;
}
.report-menu-item.new-and-trending:hover {
    background-color: lighten(#663600, 10%);
}
.report-menu-item.create-report {
    background-color: #F58220;
    box-shadow: inset 0 -8px 0 0 #B76117;
}
.report-menu-item.create-report:hover {
    background-color: lighten(#F58220, 5%);
}
.report-menu-item.saved-reports {
    background-color: #0039A6;
    box-shadow: inset 0 -8px 0 0 #012B7C;
}
.report-menu-item.saved-reports:hover {
    background-color: lighten(#0039A6, 5%);
}


/* ribbon css */
.ribbon-wrapper-green {
  width: 125px; /* 85px; */
  height: 128px; /* 88px; */
  overflow: hidden;
  position: absolute;
  top: -3px;
  right: -3px;
}

.ribbon-green {
  font-family: 'Gotham', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: 900;
  color: white!important;
  text-align: center;
  text-shadow: #777 1px 1px 0px;
  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);
  position: relative;
  padding: 5px 0;
  left: 0; /* -5px; */
  top: 29px; /* 15px; */
  width: 160px; /* 120px; */
  background-color: #BFDC7A;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#BFDC7A), to(#8EBF45)); 
  background-image: -webkit-linear-gradient(top, #BFDC7A, #8EBF45); 
  background-image:    -moz-linear-gradient(top, #BFDC7A, #8EBF45); 
  background-image:     -ms-linear-gradient(top, #BFDC7A, #8EBF45); 
  background-image:      -o-linear-gradient(top, #BFDC7A, #8EBF45); 
  -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
  box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
}

.ribbon-green:before, .ribbon-green:after {
  content: "";
  border-top:   3px solid #6e8900;   
  border-left:  3px solid transparent;
  border-right: 3px solid transparent;
  position:absolute;
  bottom: -3px; }

.ribbon-green:before {
	left: 0;
}
.ribbon-green:after {
	right: 0;
}

/* end: ribbon css */

/* end: report home*/


/* begin: css for horiz table scrolling */
.table {
  width: auto;
}

.table.table-fixed {

}

.table.table-scroll {
  /*outline: dashed 1px gray;*/
  margin-top: -116px!important;
}
.table.table-scroll thead {
  /*visibility: hidden;*/
}

#table-horiz-scroll {
  overflow-x: scroll;
  overflow-y: hidden;
  height: 700px;
  max-height: 700px;
  /*outline: dashed 2px blue;*/
}

#table-vert-scroll {
  overflow-x: scroll;
  overflow-y: scroll;
  height: 700px;
  max-height: 700px;
  /*outline: dashed 2px green;*/
}
/* end: css for horiz table scrolling */

/* begin: css for fixed headers */

/* end: css for fixed headers */

