<script type="text/ng-template" id="coursesTypeAheadTemplate.html">
    <a>
        {{match.model.id}} - 
        <span ng-bind-html="match.model.title | uibTypeaheadHighlight:query"></span>
    </a>
</script>

<div class="step-content">
    <h1>Select Courses <small>{{wizard.activeStep.errorMsg}}</small></h1>
    <div class="sub-title">
        Select a course from the list below to report on. You can select multiple courses within a Learning Path.
    </div>

    <div class="scroll-container">
        <div class="scroll-pane">

            <div class="select-all">
                <label class="radio m-r-md" ng-repeat="option in courseSelectionTypeOptions">
                    <input type="radio" class="col-md-1" name="courseSelectionType" ng-model="model.courseSelectionType" ng-value="option" 
                        ng-click="onCourseSelectionTypeChanged()"/> 
                    <i class="fa fa-circle fa-fw"></i>
                    <span class="radio-text">{{option.text}}</span>
                </label>
            </div>

            <div ng-if="model.courseSelectionType.id === 1">
                <label class="filter-label">Filter courses:</label>
                <input type="text"class="search-input m-b-md" ng-model="courseQuery"/>

                <i ng-show="loadingCourses" class="glyphicon glyphicon-refresh"></i>

                <div ng-show="noCoursesFound">
                    <i class="glyphicon glyphicon-remove"></i> No Courses Found
                </div>

                <div ng-repeat="course in model.courses | filter: courseQuery" class="checkboxContainer">
                    <label class="checkbox">
                        <input type="checkbox" ng-model="course.selected" ng-change="onCourseSelectedChange()"/> 
                        <i class="fa fa-check fa-fw"></i>
                        <span ng-bind-html="course.truncName | uibTypeaheadHighlight: courseQuery"></span>
                    </label>
                </div>
            </div>

            <div ng-if="model.courseSelectionType.id === 2">
                <i ng-show="loadingCourses" class="glyphicon glyphicon-refresh"></i>

                <div ng-show="noCoursesFound">
                    <i class="glyphicon glyphicon-remove"></i> No Segments Found
                </div>

                <div class="select-all" ng-show="storeQuery.length === 0">
                    <label class="checkbox">
                        <input type="checkbox" ng-checked="allSegmentsChecked"  
                            customcheck 
                            data-checked-state="allSegmentsCheckedState" 
                            data-child-list="model.segments" 
                            data-property="selected" />
                        
                        <i class="fa fa-fw {{allSegmentsCheckedState ? 'checked fa-check' : allSegmentsCheckedState === false ? 'unchecked fa-square-o' : 'undetermined fa-minus'}}"></i>
                        Select the entire learning path
                    </label>
                </div>

                <div ng-repeat="segm in model.segments" class="checkboxContainer">
                    <label class="checkbox">
                        <input type="checkbox" ng-model="segm.selected" ng-change="onSegmentSelectedChange()"/> 
                        <i class="fa fa-check fa-fw"></i>
                        <span ng-bind-html="segm.truncName +  ' (' + segm.los.length + ' courses)'"></span>
                    </label>
                </div>
            </div>


        </div>
    </div>
</div>
