<script type="text/ng-template" id="coursesTypeAheadTemplate.html">
    <a>
        {{match.model.id}} - 
        <span ng-bind-html="match.model.title | uibTypeaheadHighlight:query"></span>
    </a>
</script>

<div class="step-content">
    <h1>Select Courses</h1>
    <div class="sub-title">
        Select a course from the list below to report on. You can select multiple courses within a Learning Path.
    </div>

    <div class="scroll-container">
        <div class="scroll-pane">

            <div class="select-all" style="display:none">
                <label class="checkbox">
                    <input type="checkbox" ng-model="model.entireLearningPath" ng-click="onEntireLearningPathClick()"/> 
                    <i class="fa fa-check fa-fw"></i>
                    <span>Select the entire learning path</span>
                </label>
            </div>

            <div ng-if="!model.entireLearningPath">
                <label class="filter-label">Filter courses:</label>
                <input type="text"class="search-input m-b-md" ng-model="courseQuery"/>

                <i ng-show="loadingCourses" class="glyphicon glyphicon-refresh"></i>

                <div ng-show="noCoursesFound">
                    <i class="glyphicon glyphicon-remove"></i> No Courses Found
                </div>

                <div ng-repeat="course in model.courses | filter: courseQuery" class="checkboxContainer">
                    <label class="checkbox">
                        <input type="checkbox" ng-model="course.selected"/> 
                        <i class="fa fa-check fa-fw"></i>
                        <span ng-bind-html="course.name | uibTypeaheadHighlight: courseQuery"></span>
                    </label>
                </div>

            </div>


        </div>
    </div>
</div>
