#mainContainer {
  padding: 15px 0 !important;
  background: url($csPageBackgroundImg) no-repeat center fixed;
  background-size: cover;
  font-size: 12px; }


#page-header {
    text-align: center;
}

#page-container {
  margin: 0 auto;
}
