<div class="report-menu-container">

    <div class="title">The Reporting Center</div>

    <div class="alert alert-warning m-b-lg" ng-show="organization.length === 0">
        <strong>ERROR</strong>
        Missing "organization" query string parameter from Cornerstone link to this custom page.
        <br/> Please contact developers support and inform them to add "organization" parameter to the link to this page. I.e. <br/>
        {{csBaseUrl}}&amp;<strong>organization=DDBR</strong>
    </div>

    <div ng-show="organization.length > 0">
        <div class="subtitle">What would you like to view today?</div>

        <div class="report-menu">
            <div class="report-menu-row">
                <div class="report-menu-cell">
                    <div class="report-menu-item learning-path" ng-click="menuItemClick('openReport', 'learning-path')">
                        <div class="menu-item-inner">
                            <img src="../img/learning-path-icon.png"/>
                        </div>
                        <div class="menu-item-inner fill">
                            <div class="item-text">
                                <div class="item-title">LEARNING PATH DASHBOARD</div>
                                <div class="item-descr smaller">
                                    One-click view of your team's Completion Status of Learning Path courses
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="report-menu-cell">
                    <div class="report-menu-item new-and-trending" ng-click="menuItemClick('openReport', 'new-and-trending')">
                        <div class="menu-item-inner">
                            <img src="../img/new-and-trending-icon.png"/>
                        </div>
                        <div class="menu-item-inner fill">
                            <div class="item-text">
                                <div class="item-title">NEW &amp; TRENDING DASHBOARD</div>
                                <div class="item-descr smaller">
                                    One-click view of your team's Completion Status of all recent New &amp; Trending courses
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="report-menu-row">
                <div class="report-menu-cell">
                    <div class="report-menu-item create-report" ng-click="menuItemClick('customReportWizard')">
                        <div class="menu-item-inner">
                            <img src="../img/create-icon.png"/>
                        </div>
                        <div class="menu-item-inner fill">
                            <div class="item-text">
                                <div class="item-title">CREATE A REPORT</div>
                                <div class="item-descr">Create a new report with new filters</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="report-menu-cell">
                    <div class="report-menu-item saved-reports" ng-click="menuItemClick('savedReports')">
                        <div class="menu-item-inner">
                            <img src="../img/saved-reports-icon.png"/>
                        </div>
                        <div class="menu-item-inner fill">
                            <div class="item-text">
                                <div class="item-title">MY SAVED REPORTS</div>
                                <div class="item-descr">Access your saved reports</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>