<div class="banner">
    <img src="../img/learning-path-icon.png"/>
    <h2 ng-bind="::title"></h2>

    <span class="banner-button" style="text-align:center;font-size:10pt;background-color:transparent">
        User org: [{{::organization}}]<br/>People orgs: {{::peopleOrgs}}
    </span>
    <a class="banner-button return" target="_parent" ng-href="{{::backToHref}}">
        <img class="return" src="../img/back-arrow.png"/>
        <div class="text">Back to <br/><strong>Reporting Center</strong></div>
    </a>
    <a class="banner-button viewFor" ng-show="displayViewReportFor" target="_parent" ng-href="{{::viewReportForHref}}">
        <img ng-class="::otherBrandObj.key" ng-src="../img/{{::otherBrandObj.key}}_logo_btn_sm.png"/>
        <div class="text">View report for <br/><strong ng-bind="::otherBrandObj.title"></strong></div>
    </a>
</div>

<div class="container loading-msg" ng-show="loading">
    <h1>Loading, please wait...</h1>
    <img src="../img/dd-loader.gif">
    <uib-progressbar class="progress-striped active m-t-lg" value="progressBar.value" type="{{progressBar.type}}">{{progressBar.value}}%</uib-progressbar>
</div>

<div class="container report m-t-lg" ng-show="!loading">
    <div class="height-40">
        <div>
             <div class="pull-left now-viewing m-t-md">
                <span ng-show="(topLevelColumn && !model.isDetailOnly)">Now Viewing: <strong ng-bind="(topLevelColumn && topLevelColumn.name)"></strong> | </span>
                <span ng-bind="modifiedMessage()"></span>
            </div>
            <div class="pull-right m-t-sm">
                <i class="calculating" ng-if="refreshing">Calculating...</i>
                <span ng-if="undoService.undoState.length > 0">
                    <button class="undo small m-l-sm" 
                        ng-click="undoLastAction()" 
                        uib-tooltip="{{'Undo ' + undoService.getLastActionMessage()}}"
                        tooltip-animation="false" 
                        tooltip-placement="left">
                        <i class="fa fa-undo"></i> <span>Undo</span>
                    </button>
                    <button class="reset small m-l-sm" ng-click="undoAllActions()" title="Reset">
                        <i class="fa fa-refresh"></i> <span>Reset</span>
                    </button>
                </span>
                <button class="back-to-top small m-l-sm" ng-show="topLevelColumn && !model.isDetailOnly" ng-click="backToTopLevel()" title="Back to top level">
                    <i class="fa fa-arrow-left"></i> <span>Back to Top Level</span>
                </button>
            </div>
       </div>
    </div>

    <div class="m-t-lg">

        <!-- begin: table container -->
        <div id="table-horiz-scroll">
            <table id="table-fixed" class="table table-fixed m-b-0">
                <thead>
                    <tr class="tr-head">
                        <th ng-repeat="c in ::model.columns track by $index" ng-if="c.show" ng-class="::c.css" ng-style="colHeaderStyle(c)" 
                            ng-click="onHeaderCellClick(c)"
                            title="{{::c.title}}">
                            <button class="csv" ng-if="::(c.position === 0)" ng-click="exportToCsv()" title="Export current view to CSV file">Export</button>
                            
                            <!-- begin: column header popover -->
                            <div ng-if="::(c.position > 0)" class="th-top">
                                <i class="fa fa-spinner fa-fw" ng-show="!!c.refreshing"></i>
                                <i ng-if="::(!c.locked && !c.isChild)" class="fa fa-expand"></i>
                                <a ng-if="::(!c.locked)" ng-show="displayRemoveCol(c)" 
                                    ng-click="hideCol(c)" title="{{::c.removeTitle}}"><i class="fa fa-minus-circle"></i></a>
                            </div>
                            <!-- end: column header popover -->
                            <div ng-if="c.position > 0" class="th-middle">
                                <div class="th-middle-inner">
                                    <!-- column text: column at index 1 can change (summary), other columns can be bound once (::) -->
                                    <span ng-if="c.position < 2" ng-class="thTextCss(c)" ng-bind-html="c.nameTrunc" ng-attr-title="{{c.name}}"></span>
                                    <span ng-if="::(c.position > 1)" ng-class="thTextCss(c)" ng-bind-html="::c.nameTrunc" ng-attr-title="{{::c.name}}"></span>
                                </div>
                            </div>
                        </th>
                    </tr>
                </thead>
            </table>
            
            <div id="table-vert-scroll">
                <table id="table-scroll" class="table table-scroll">
                    <thead>
                        <tr class="tr-head">
                            <th ng-repeat="c in ::model.columns track by $index" ng-if="c.show" ng-class="::c.css" ng-style="colHeaderStyle(c)">
                                <div ng-if="c.position > 0" class="th-middle">
                                    <div class="th-middle-inner">
                                        <!-- column text: column at index 1 can change (summary), other columns can be bound once (::) -->
                                        <div ng-if="c.position < 2" ng-class="thTextCss(c)" ng-bind-html="c.name"></div>
                                        <div ng-if="::(c.position > 1)" ng-class="thTextCss(c)" ng-bind-html="::c.name"></div>
                                    </div>
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody ng-repeat="row in model.result.rows track by $index" ng-if="row.show">
                        <tr>
                            <td ng-repeat="c in ::model.columns track by $index" 
                                ng-class="flashCss('pointer ' + row[c.key].css, row[c.key].value, !c.show, c.position)"
                                ng-click="onRowCellClick(c, row)"
                                title="Click to {{row.isCollapsed ? 'Show' : 'Hide' }} all Learners in this PC">

                                <div ng-if="::(c.position === 0)">
                                    <!-- begin: row header popover -->
                                    <div class="row-th-top">
                                        <i class="fa fa-spinner fa-fw" ng-show="row.refreshing"></i>
                                        <i ng-if="::(row.children.length > 0)" ng-class="'fa fa-' + (row.isCollapsed ? 'expand' : 'compress')"></i>
                                        <a ng-if="displayHideRow()" ng-click="hideRow(row)" title="Remove this PC from the Report"><i class="fa fa-minus-circle"></i></a>
                                    </div>
                                    <!-- end: row header popover -->
                                </div>

                                <div ng-class="::c.addCss.rowThMiddle">
                                    <div ng-class="::c.addCss.rowThMiddleInner">
                                        <div ng-class="::addCss.rowThText">
                                            <span ng-if="::(c.position === 0)" ng-bind="::row[c.key].valueTrunc" ng-attr-title="{{::row[c.key].value}}"></span>
                                            <span ng-if="::(c.position > 0)" ng-bind="::(row[c.key].value+row[c.key].suffix)"></span>
                                            <div ng-if="::(c.position === 0 && row.children.length < 1)" style="font-weight:normal;font-size:0.9em">(No learners)</div>
                                        </div>
                                    </div>
                                </div>
                    
                            </td>
                        </tr>
                        <tr ng-repeat="child in row.children track by $index" ng-if="!row.isCollapsed && child.show">
                            <td ng-repeat="c in ::model.columns track by $index" ng-class="child[c.key].css + (!c.show ? ' hidden' : '')">
                                <div class="pull-left row-text">
                                    <span ng-if="::(c.position === 0)" ng-class="::child[c.key].cssValueSpan" ng-bind="::child[c.key].valueTrunc" ng-attr-title="{{::child[c.key].value}}"></span>
                                    <span ng-if="::(c.position > 0)" ng-class="::child[c.key].cssValueSpan" ng-bind="::(child[c.key].value + child[c.key].suffix)"></span>
                                    <span ng-if="::child[c.key].value2" class="person-title" ng-bind="::child[c.key].value2"></span>
                                </div>
                                <div ng-if="::(c.position < 1)" class="pull-right row-icon">
                                    <a ng-show="displayHideRow(row)" ng-click="hideRow(child, row)" title="Remove this learner from the Report"><i class="fa fa-minus-circle"></i></a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
        <!-- end: table container -->
    </div>
</div>