<script type="text/ng-template" id="modalConfirm.html">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">{{$ctrl.data.title}}</h3>
    </div>
    <div class="modal-body p-tb-0" id="modal-body">
        {{$ctrl.data.message}}
    </div>
    <div class="modal-footer">
        <button class="btn btn-warning cancel" type="button" ng-click="$ctrl.cancel()">{{$ctrl.data.cancelCaption}}</button>
        <button class="btn btn-primary ok" type="button" ng-click="$ctrl.ok()">{{$ctrl.data.okCaption}}</button>
    </div>
</script>
<div class="wizard-container saved-reports">
    <div class="wizard vertical">

        <div class="wizard-header">
            <button type="button" class="close" ng-click="exit()">
                <i class="fa fa-arrow-left"></i> Exit
            </button>

            <div class="title">My Saved Reports</div>
        </div>

        <div class="wizard-body">
            <div class="wizard clearfix">
                <div class="content clear full-width">

                    <div class="step-content">
                        <h1>Your saved reports</h1>
                        <div class="sub-title">Select a report that you’ve saved below to run the report. You can rename or delete a saved report.</div>

                        <div class="scroll-container">
                            <div class="scroll-pane saved-reports-menu">

                                <div ng-repeat="report in model.reports" class="row menu-item" ng-click="viewReport(report)">
                                    <div class="col col-md-6 name">{{report.name}}</div>

                                    <div class="col col-md-4 status">{{report.statusMsg}}</div>

                                    <div class="col col-md-2 buttons">

                                        <a class="trash" type="button" ng-click="deleteReport(report, $event)">
                                            <i class="fa fa-trash"></i>
                                        </a>
                                        <a class="edit" type="button" ng-click="editReport(report, $event)">
                                            <i class="fa fa-pencil-square-o"></i>
                                        </a>
                                    </div>
                                </div>
                                
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>