<div class="banner banner-narrow">
    <img src="../img/learning-path-icon.png"/>
    <h2>My Saved Reports</h2>

    <button class="banner-button return" ng-click="goHome()">
        <img class="return" src="../img/back-arrow.png"/>
        <div class="text">Back to <br/><strong>Reporting Center</strong></div>
    </button>
</div>

<div class="container loading-msg" ng-show="loading">
    <h1>Loading, please wait...</h1>
    <img src="../img/dd-loader.gif">
    <!--uib-progressbar class="progress-striped active m-t-lg" value="progressBar.value" type="{{progressBar.type}}">{{progressBar.value}}%</uib-progressbar-->
</div>
<script type="text/ng-template" id="modalConfirm.html">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">{{$ctrl.data.title}}</h3>
    </div>
    <div class="modal-body p-tb-0" id="modal-body">
        {{$ctrl.data.message}}
    </div>
    <div class="modal-footer">
        <button class="btn btn-warning cancel" type="button" ng-click="$ctrl.cancel()">{{$ctrl.data.cancelCaption}}</button>
        <button class="btn btn-primary ok" type="button" ng-click="$ctrl.ok()">{{$ctrl.data.okCaption}}</button>
    </div>
</script>
<div class="wizard-container saved-reports">
    <div class="wizard vertical">

        <div class="wizard-header">
            <div class="saved-reports-title">
                All of your Saved Reports are listed below.
            </div>
            <button type="button" class="close" ng-show="false" ng-click="exit()">
                <i class="fa fa-arrow-left"></i> Exit
            </button>
        </div>

        <div class="wizard-body">
            <div class="wizard clearfix">
                <div class="content clear full-width">

                    <div class="step-content">
                        <div class="sub-title">
                            Clicking on any of these will produce an updated report with refreshed data as of today. 
                            You can use the edit function <i class="fa fa-pencil-square-o"></i> to modify any of these reports or re-name them. 
                            Use the trashcan function <i class="fa fa-trash"></i> to delete a report.
                        </div>

                        <div class="scroll-container">
                            <div class="scroll-pane saved-reports-menu">

                                <div ng-repeat="report in model.reports" class="row menu-item" ng-click="viewReport(report)">
                                    <div class="col col-md-6 name">{{report.name}}</div>

                                    <div class="col col-md-4 status">{{report.statusMsg}}</div>

                                    <div class="col col-md-2 buttons">

                                        <a class="trash" type="button" ng-click="deleteReport(report, $event)">
                                            <i class="fa fa-trash"></i>
                                        </a>
                                        <a class="edit" type="button" ng-click="editReport(report, $event)">
                                            <i class="fa fa-pencil-square-o"></i>
                                        </a>
                                    </div>
                                </div>
                                
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>